:root {
    --color-white: #fff;
    --primary-color: #C8EDEF;
    --secondary-color: #05767B;
    --background-color: #FAFAFA;
}

body {
    background-color: var(--background-color);
}

#fosecHeader {
    background-color: var(--color-white);
    padding: 0.5rem 3rem;
    margin: 1rem 2rem !important;
}

#fosecHeader img {
    width: 100%;
    margin: 1rem 0;
}

#fosecHeader #userActionBar {
    align-items: center;
}

.btn {
    background-color: var(--secondary-color);
    color: var(--color-white);
}

.text-right {
    text-align: right;
}

.dropdown